{% extends 'learning/base.html' %}
{% load static %}
{% block css %}
{% endblock %}

{% block content %}

<main id="main">
<section id="hero" class="d-flex align-items-center" style="padding-top: 0;">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h2>Get Started with New learnings</h2>
            </div>
        </div>


        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0"  data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box" style="height: 100%; width: 100%;">
                    <div class="icon"><i class="ri-command-line"></i></div>
                    <h4 class="title"><a href="/py">python</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in"
                data-aos-delay="500">
                <div class="icon-box" style="height: 100%; width: 100%;">
                    <div class="icon"><i class="ri-command-line"></i></div>
                    <h4 class="title"><a href="/dsa">dsa</a></h4>
                </div>
            </div>


        </div>
    </div>
</section>
</main>


{% endblock %}